h2{
	color: black;
	text-align: center;
	border: 5px solid purple;
}

img{
	width: 200px;
	height: 200px;
	margin-left: 20px;
	margin-top: 20px;
}

/*img:hover{

}*/

#tyrian{
	margin-left: 20px;
	margin-top: -2px;
}

/*#tyrian:hover{
	position: relative;
    top: -20px; /*This will move it 20px up*/
    /*left: 20px; /* This will move it 20px to the right*/ 
    /*color: blue;*/
/*}*/